async-google-trans-new==1.4.1
authlib==0.15.4
autoflake==1.4
autopep8==1.5.7
beautifulsoup4==4.9.3
dblpy==0.4.0
discord.py @ git+https://github.com/rapptz/discord.py@7386a971f85bfc66f31132e8f0c98e9b4879ee3b
discord-emoji==1.3.1
discord-ext-levenshtein==0.3.0
dnspython==2.1.0
dpy-components==0.3.1
dpy-syntaxer==1.0.1
flake8==3.9.2
google-api-python-client==2.9.0
httpx==0.18.2
jishaku==2.0.0
lxml==4.6.3
motor==2.4.0
pillow==8.2.0
pip-chill==1.0.1
pip-licenses==3.4.0
psutil==5.8.0
py==1.10.0
pylint==2.8.3
pynacl==1.4.0
pyre2==0.3.6
sembed==1.1.1
texttable==1.6.3
topggpy==1.1.0
vulture==2.3
xmltodict==0.12.0
youtube-dl==2021.6.6
