import sys

DEBUG_TOKEN = "Th1sIsN0tT0k3n.B3cause.If15howB0tW1llG3tH4cked"
TOKEN = 'Th1sIsN0tT0k3n.B3cause.If15howB0tW1llG3tH4cked'
YOUTUBE_API_KEY = 'YouTube API token here'
dbl_token = "DBL token here"
cstr = "MongoDB connection string here"
twitter_consumer_key = "Twitter consumer key here"
twitter_consumer_secret = "Twitter consumer secret here"
twitter_bearer = "Twitter Bearer token here"
botdd_token = "botdd token here"
web_pass = "web password here"
sentry_url = "sentry url here"
